<div class="wrapper fadeInDown">
    <div *ngIf="router.url=='/login'" id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> LOGIN </h2>
      <a routerLink="/signup"><h2 class="inactive underlineHover">Sign Up </h2></a>
      <!-- Icon -->
     
  
      <!-- Login Form -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" required formControlName="email">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" required formControlName="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
    <div *ngIf="router.url=='/signup'" id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign Up  </h2>
      <a routerLink="/login"><h2 class="inactive underlineHover">Log In </h2></a>
      <!-- Icon -->
     
  
      <!-- Login Form -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" required formControlName="email">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" required formControlName="password">
        <input type="submit" class="fadeIn fourth" value="Sign Up">
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>
