
<mat-toolbar color="primary">
  <svg xmlns="http://www.w3.org/2000/svg">
  
    <!-- filterUnits is required to prevent clipping the blur outside the viewBox -->
    
      <filter id="motion-blur-filter" filterUnits="userSpaceOnUse">
        
        <!-- We only want horizontal blurring. x: 100, y: 0 -->
        
          <feGaussianBlur stdDeviation="100 0"></feGaussianBlur>
      </filter>
  </svg>
  
  <!-- We use a custom attribute to set the text that the pseudo element should display and blur. In this case, we use the first character of the word. -->
  <a routerLink="/"><span filter-content="S">CYCLER</span></a>
  <div>
  </div>


</mat-toolbar>
<div class="main">
  <router-outlet></router-outlet>
<div class="countdown">
<div *ngIf="router.url =='/'"><app-countdown></app-countdown></div>
</div>
<div class="headers" *ngIf="router.url == '/'">
  <ul>
  <li>CYCLISTS</li>
  <li>NEWS</li>
  <li>RACES</li>
  <li>TECH</li>
  <li>HISTORY</li>
</ul>
</div>

</div>
<h1 style="text-align: center; padding-top: 15%;">
  TUTAJ SEKCJA WPISÓW
</h1>

<app-event-assign></app-event-assign>


