<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <a routerLink="/login"><h2 class="inactive underlineHover"> Sign In </h2></a>
      <h2 class="active">Sign Up </h2>
  
      <!-- Icon -->
     
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="REGISTER">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>
