<h1>
    Sekcja zarządzania eventami
</h1>

<div *ngIf="!submitted">
    <form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm)">
        <div class="form-group">
        <label>Event Name</label>
        <input class="form-control" name="name" #name="ngModel"
        [(ngModel)]="event.name" placeholder="Event Name" required>
        </div>
        <div class="form-group">
            <label>Event Date</label>
            <input class="form-control" name="date" #name="ngModel" type="date"
            [(ngModel)]="event.date" placeholder="Event Date" required>
            </div>
            <div class="form-group">
                <label>Event Description</label>
               
                <textarea class="form-control" name="description" #name="ngModel" [(ngModel)]="event.description">
                    Type something about this blog...
                </textarea>
                </div>
            <button type="submit" [disabled]="!eventForm.valid" [disabled]="eventForm.invalid">Submit Event</button>
    </form>
</div>
<div *ngIf="submitted">
    <h4>New Event created successfully!</h4>
    <button (click)="newEvent()">Create New</button>
</div>


    