.container {
    margin-left: 5%;
}
.form-group {
    padding: 1%;
}
p {
    font-size: 1vw;
    margin-left: 2%;
}

button {
    margin-left: 3%;
}
.foto {
    margin-left: 2%;
    margin-top: 2%;
}

.events {
    margin: 1%;
}